@charset "TF-8";


/*
pequenas telas: ate 600px
phone:  600px ate 768px
Tablet: 769 px ate 992px
Desktop: 992px ate 1200px
grandes telas :acima de 1200pxs */



/*fontes Importada*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


  
*{
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(to right, #57E3C6,#3A9F95);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}
main{
  background-color: rgb(118, 118, 118);
  box-shadow: 5px 5px 5px 5px rgb(65, 65, 65);
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  width: 300px;
  height: 350px;
}
#valor{
background-color: aliceblue;
color: black;
border: none;
border-radius: 2px;
padding: 2px;
}
#camp-button{
  display: flex;
  justify-content: space-around;
}
 #ctr{
background-color:#3b9e94;
color: white;
border: none;
font-weight: bold;
padding: 5px;
border-radius: 5px;
text-align: center;
box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.378);
margin: 5px;
transition: 1s;
 }

 #ctr:hover{
  background-color: white;
  color: #3b9e94;
 }
p{
  text-align: center;
margin-bottom: 5px;
background-color: #3A9F95;
border-radius: 10px;
color: rgb(255, 255, 255);

}
#baixo{
  width: 290px;
  background-color: rgb(207, 206, 206);
}
#moedas{
 text-align: center;
}
 #ress{
  text-align: center;
  background-color: rgb(183, 181, 181);
  text-shadow: 1px 0px 8px  rgb(0, 0, 0);
 }

 #imagem{
text-align: center;}
 


